{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GondorProject - DEMO - Do not send any documents{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="logo">Gondor Magazín</div>

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav navbar-light">
      <a class="nav-item nav-link navbar-light active" href="/home">Home</a>
      <a class="nav-item nav-link" disabled href="/redaktor">Redaktor</a>
      <a class="nav-item nav-link" disabled href="/autor">Autor</a>
      <a class="nav-item nav-link" disabled href="/recenzent">Recenzent</a>
      <a class="nav-item nav-link" disabled href="/sefredaktor">ŠéfRedaktor</a>
      <a class="nav-item nav-link" disabled href="/admin/users">Admininstrace</a>

    </div>
  </div>

        <div class="nav-links">
            <a href="{{ path('app_login') }}" class="{% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">Přihlášení</a>
            {% if app.request.attributes.get('_route') != 'app_login' %}
                <div class="login-info">
                    User: <span id="username">{{ app.user ? app.user.username : 'unknown' }}</span>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

<div class="container-fluid min-vh-100 min-vw-100 ">

<div class="row">
<div class="col-12" id="menuContext"></div>
</div>

<div class="row" >
<div class="col-1 bg-secondary " id="leftMenu"></div>
<div class="col-10" id="context">

{% block body %}{% endblock %}
</div>
<div class="col-1" id="rightMenu"></div>

</div>
<footer>
<div class="fixed-bottom">
<p class="text-center">2023 - Studenstský projekt redakčniho systemu. Nezasílejte žádné dokumenty</p>

</div>
    <!-- Footer content here -->
</footer>

<script src="{{ asset('js/script.js') }}"></script>
</body>
</html>
