/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

/* Navigation Bar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-links .active {
    font-weight: bold;
}

.login-info {
    margin-left: auto;
}

/* Login Form Styles */
.login-container {
    background-color: #3457D5;
    min-height: calc(100vh - 80px); /* Adjusted height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
}

.input-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-group input {
    width: 100%;
    padding: 0.75rem 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: #3457D5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #23397d;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #3457D5;
    text-decoration: none;
}

/* Responsive Design for Navigation */
@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column;
    }

    .nav-links a {
        margin: 0.5rem 0;
    }
}
