{# templates/base.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="logo">Gondor Magazín</div>
        <div class="nav-links">
            <a href="{{ path('app_login') }}" class="{% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">Přihlášení</a>
            {% if app.request.attributes.get('_route') != 'app_login' %}
                <div class="login-info">
                    User: <span id="username">{{ app.user ? app.user.username : 'unknown' }}</span>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

{% block body %}{% endblock %}

<footer>
    <!-- Footer content here -->
</footer>

<script src="{{ asset('js/script.js') }}"></script>
</body>
</html>
