{# templates/password/change.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Zmìna Hesla{% endblock %}

{% block body %}
<h1>Zmìna Hesla</h1>

{{ form_start(changePasswordForm) }}
{{ form_widget(changePasswordForm) }}
{{ form_end(changePasswordForm) }}
{% endblock %}
