{# templates/article/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Seznam Článků{% endblock %}

{% block body %}
<h1>Seznam Článků</h1>
<ul>
    {% for article in articles %}
        <li>
            <strong>{{ article.title }}</strong><br>
            {{ article.content | slice(0, 100) }}...
            <a href="#">Číst více</a>
        </li>
    {% else %}
        <li>Žádné články nebyly nalezeny.</li>
    {% endfor %}
</ul>
{% endblock %}
